PORT=3000
NODE_ENV=development
MONGODB_URI=YOUR_MONGODB_URI
JWT_SECRET=YOUR_JWT_SECRET_KEY

GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
GOOGLE_REFRESH_TOKEN=YOUR_GOOGLE_REFRESH_TOKEN
GOOGLE_USER=YOUR_GOOGLE_USER

GEMINI_API_KEY=YOUR_GEMINI_API_KEY
MISTRAL_API_KEY=YOUR_MISTRAL_API_KEY

VALKEY_URL=redis://127.0.0.1:6379
VALKEY_ENABLED=true
VALKEY_TTL_SECONDS=3600
CHAT_HISTORY_LIMIT=20
